<div class="benefits-strip">
    <div class="container">
        <div class="benefits-strip__wrapper">
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/bank.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Earn cashback by using our free online tools</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/personalised.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Create your own personalised platform</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/house.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Create a house account for you and your loved ones</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/contract.png" %}
                </div>
                <p class="benefits-strip__benefit-text">No need for any paper, pens or sticky notes</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/handshake.png" %}
                </div>
                <p class="benefits-strip__benefit-text">You won't find a better deal elsewhere</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/notifications.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Use on any device, anytime, anywhere</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/bell.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Receive personalised notifications </p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/deal.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Benefit from exclusive deals </p>
            </div>
        </div>
    </div>
</div>