<div class="benefits-strip">
    <div class="container">
        <div class="benefits-strip__wrapper">
            <div class="benefits-strip__benefit">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/circle.png" %}
                </div>
                <h3 class="benefits-strip__benefit-title">Benefit</h3>
                <p class="benefits-strip__benefit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="benefits-strip__benefit">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/circle.png" %}
                </div>
                <h3 class="benefits-strip__benefit-title">Benefit</h3>
                <p class="benefits-strip__benefit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="benefits-strip__benefit">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/circle.png" %}
                </div>
                <h3 class="benefits-strip__benefit-title">Benefit</h3>
                <p class="benefits-strip__benefit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="benefits-strip__benefit">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/circle.png" %}
                </div>
                <h3 class="benefits-strip__benefit-title">Benefit</h3>
                <p class="benefits-strip__benefit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="benefits-strip__benefit">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/circle.png" %}
                </div>
                <h3 class="benefits-strip__benefit-title">Benefit</h3>
                <p class="benefits-strip__benefit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="benefits-strip__benefit">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/circle.png" %}
                </div>
                <h3 class="benefits-strip__benefit-title">Benefit</h3>
                <p class="benefits-strip__benefit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>