<div class="benefits-strip">
    <div class="container">
        <div class="benefits-strip__wrapper">
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/bank.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Earn cashback in your {{site.title}} wallet by using our free online tools.</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/personalised.png" %}
                </div>
                <p class="benefits-strip__benefit-text">{{site.title}} gives you a personalised platform to help organise your life.</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/house.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Create a house account for you and your loved ones.</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/contract.png" %}
                </div>
                <p class="benefits-strip__benefit-text">No need for any paper, pens or sticky notes, {{site.title}} is all online.</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/handshake.png" %}
                </div>
                <p class="benefits-strip__benefit-text">{{site.title}} has teamed up with a number of top tier brands.</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/notifications.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Use {{site.title}} on your mobile, anytime, anywhere.</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/bell.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Receive personalised {{site.title}} notifications depending on your selections.</p>
            </div>
            <div class="benefits-strip__benefit scrollwatch">
                <div class="benefits-strip__benefit-image">
                    {% include picture.html url="/images/deal.png" %}
                </div>
                <p class="benefits-strip__benefit-text">Benefit from exclusive {{site.title}} deals through your {{site.title}} account.</p>
            </div>
        </div>
    </div>
</div>