<div class="contact-strip">
    <div class="container">
        <div class="contact-strip__wrapper">
            <h3 class="contact-strip__title">If you have a brand which you think would benefit our users, get in touch
            </h3>
            <div class="contact-strip__content">
                <p class="contact-strip__text">Email <a href="mailto:{{site.email_partnerships}}">{{site.email_partnerships}}</a> or use the following links: </p>
                <div class="contact-strip__socials">
                    <a class="contact-strip__social" title="Facebook" href="{{site.facebook_url | absolute_url}}"
                        target="_blank" rel="external noopener"><span class="icon-facebook"></span></a>
                    <a class="contact-strip__social bg" title="Email" href="mailto:{{site.email_partnerships }}"><span
                            class="icon-envelope"></span></a>
                    <a class="contact-strip__social bg" title="Linkedin" href="{{site.linkedin_url | absolute_url}}"
                        target="_blank" rel="external noopener"><span class="icon-linkedin"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>