<div class="data-dashboard">
    <div class="data-dashboard__intro">
        <h1 class="data-dashboard__title">Historic Coronavirus data for <span></span></h1>
        <p class="data-dashboard__time">Last updated: <span></span></p>
        <p class="data-dashboard__source">Source: <span></span></p>
    </div>
    <div class="data-dashboard__wrapper">
        <div class="data-chart data-chart--template" id="data_chart_repeater">
            <canvas class="data-chart__chart" id="data_chart_chart">

            </canvas>
        </div>
    </div>
</div>