<div class="data-dashboard">
    <div class="data-dashboard__intro">
        <h1 class="data-dashboard__title">Coronavirus data for <span></span></h1>
        <p class="data-dashboard__time">Last updated: <span></span></p>
        <p class="data-dashboard__source">Source: <span></span></p>
    </div>
    <div class="data-dashboard__wrapper">
        <div class="data-block data-block--template" id="data_block_repeater">
            <div class="data-block__inner">
                <h2 class="data-block__title"></h2>
                <p class="data-block__value"></p>
            </div>
        </div>
    </div>
</div>