<div class="device-strip">
    <div class="container">
        <div class="row">
            <div class="device-strip__text col-lg-6 col-xs-12">
                <h2>Why join us?</h2>
                <p>Whether it’s bills, longer-term financial plans, your home, your health, looking after what matters
                    most, or the odd little treat here and there, {{site.title}} uses its own artificial technology to connect
                    you directly to the help and services that suit you best. Reap the rewards with exclusive cashback
                    offers, deals, and discounts on your favourite brands.</p>
                <p><img src="/images/devices.png" alt={{site.title}} /></p>
                <p><a href="#header_image" class="button">Sign up here</a></p>
            </div>
        </div>
    </div>
</div>