<div class="device-strip">
    <div class="container">
        <div class="row">
            <div class="device-strip__image col-md-6 col-xs-12">

            </div>
            <div class="device-strip__text col-md-6 col-xs-12">
                <h2>Why join us?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Non pulvinar neque </p>
                <p><a href="#form" class="button">Sign up here</a></p>
            </div>
        </div>
    </div>
</div>