<div class="features-strip">
    <div class="container">
        <h2 class="features-strip__title">lifeSOS features</h2>
        <div class="features-strip__wrapper">
            {% for feature in site.data.features.items %}
            {% capture url %}/images/dash-{{feature.title}}.png{% endcapture %}
            <div class="features-strip__feature">
                {% include picture.html url=url alt=feature.title class="features-strip__feature-image" %}
                <p class="features-strip__feature-text">{{feature.text}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>