<div class="home-strip">
    <div class="container">
        <div class="row">
            <div class="home-strip__title col-md-6 col-xs-12">
                <h2>{{site.title}} is amazing</h2>
            </div>
            <div class="home-strip__text col-md-6 col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Non pulvinar neque laoreet suspendisse interdum consectetur libero
                    id.</p>
                <p><a href="#header_image" class="button">Sign up here</a></p>
            </div>
        </div>
    </div>
</div>