<table class="data-table" id="root">
    <tr class="data-table__header">
        <th class="data-table__header">Country</th>
        <th class="data-table__header data-table__header--numeric">Tested</th>
        <th class="data-table__header data-table__header--numeric">Infected</th>
        <th class="data-table__header data-table__header--numeric">Deceased</th>
        <th class="data-table__header data-table__header--numeric">Recovered</th>
        <th class="data-table__header">Last updated</th>
    </tr>
    <tr class="data-table__row data-table__row--template" id="table-repeater">
        <td data-column="country" class="data-table__column"></td>
        <td data-column="tested" class="data-table__column data-table__column--numeric"></td>
        <td data-column="infected" class="data-table__column data-table__column--numeric"></td>
        <td data-column="deceased" class="data-table__column data-table__column--numeric"></td>
        <td data-column="recovered" class="data-table__column data-table__column--numeric"></td>
        <td data-column="lastUpdatedApify" class="data-table__column data-table__column--datetime"></td>
    </tr>
</table>