<div class="thankyou">
    <div class="container">
        <div class="thankyou__wrapper">
            <div class="thankyou__wrapper-inner">
                <h1 class="thankyou__title">Thank you for signing up.</h1>
                <div class="thankyou__bottom">
                    <p class="thankyou__content">You have successfully signed up for early-access to {{site.title}}. You should
                        soon receive an email explaining the next steps, don’t forget to follow us across social media
                        to keep up to date with the latest progress and exclusive news.</p>
                    <div class="thankyou__socials">
                        <a class="thankyou__social" title="Facebook" href="{{site.facebook_url | absolute_url}}"
                            target="_blank" rel="external noopener"><span class="icon-facebook"></span></a>
                        <a class="thankyou__social" title="Twitter" href="{{site.twitter_url | absolute_url}}"
                            target="_blank" rel="external noopener"><span class="icon-twitter bg"></span></a>
                        <a class="thankyou__social" title="Instagram" href="{{site.instagram_url | absolute_url}}"
                            target="_blank" rel="external noopener"><span class="icon-instagram bg"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>