.data-table {
  width: 100%;
  margin: 25px 0;
  color: $colour_dark_grey;
  border-spacing: 0 5px;
  &__global {
    display: flex;
    margin: 0 -20px;
    &-item {
      margin: 0 20px;
      flex: 0 1 100%;
      text-align: center;
      > div {
        padding: 20px;
        height: 100%;
        background: $colour_primary;
        border-radius: 10px;
        box-shadow: $box_shadow;
      }
      h3 {
        font-size: 18px;
        margin-top: 0;
        font-weight: 300;
      }
      span {
        font-size: 25px;
        font-weight: 900;
        color: $colour_accent;
      }
    }
  }
  &__intro {
    margin-top: 20px;
    border-radius: 10px;
    color: $colour_dark_grey;
    background: #fff;
    padding: 20px;
    box-shadow: $box_shadow;
    h1 {
      margin-top: 0;
    }
  }
  &__header {
    color: #fff;
    background-color: $colour_accent;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    cursor: pointer;
    &.tablesorter-headerDesc {
      background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    }
    &.tablesorter-headerAsc {
      background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    }
    &--empty {
      pointer-events: none;
      background-image: none;
    }
  }
  &__row {
    background: #fff;
    &:nth-child(odd) {
      background: darken(#fff, 2%);
    }
    &--template {
      display: none !important;
    }
  }
  &__column,
  &__header {
    padding: 10px 25px;
    text-align: left;
    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    &:last-child {
      border-radius: 0 10px 10px 0;
    }
    &--numeric,
    &--button {
      text-align: right;
    }
  }
  @include in_size($sm) {
    &.is-fixed {
      &:before {
        content: "";
        display: block;
        width: 100%;
        position: fixed;
        height: 50px;
        top: 0;
        left: 0;
        background: $colour_accent;
      }
      .data-table {
        &__row {
          &:first-child {
            .data-table {
              &__column {
                &:before {
                  content: attr(data-title);
                  background: $colour_accent;
                  color: #fff;
                  display: block;
                  position: fixed;
                  font-weight: 700;
                  top: 12.5px;
                }
              }
            }
          }
        }
      }
    }
  }
  @include in_size($md-only) {
    &__header,
    &__column {
      padding: 10px 20px 10px 10px;
    }
    &__global {
      margin: 0 -10px;
      &-item {
        margin: 0 10px;
      }
    }
  }
  @include in_size($mobile) {
    &__global {
      flex-wrap: wrap;
      margin: 0 -10px;
      &-item {
        flex: 0 1 (100% / 3);
        margin: 0;
        padding: 10px;
      }
    }
  }
  @include in_size($xs) {
    display: block;
    &__global {
      &-item {
        flex: 0 1 50%;
        > div {
          padding: 15px;
          h3 {
            font-size: 16px;
          }
          span {
            font-size: 23px;
          }
        }
      }
    }
    tbody,
    thead {
      display: block;
    }
    &__header-row {
      display: flex;
      flex-wrap: wrap;
      &:before {
        content: "Sort by:";
        flex: 0 1 100%;
      }
    }
    &__header {
      flex: 0 1 100%;
      padding: 10px 0 10px 25px;
      background-color: transparent;
      color: $colour_accent;
      text-align: left;
      background-position: left center;
    }
    &__row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
    &__column {
      position: relative;
      padding: 10px 25px 10px 200px;
      flex: 0 1 50%;
      border-top: 1px solid $colour_light_grey;
      border-radius: 0 !important;
      &:first-child {
        border-top: none;
      }
      &:before {
        content: attr(data-title);
        display: flex;
        align-items: center;
        color: #fff;
        background: $colour_accent;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px 25px;
        width: 175px;
        text-align: left;
        height: 100%;
      }
      &--title {
        flex: 0 1 100%;
        text-align: right;
      }
      &--button {
        padding-left: 25px;
        &:before {
          display: none;
        }
      }
    }
  }
  @include in_size($xxs) {
    &__column {
      flex: 0 1 100%;
      padding-left: 115px;
      padding-right: 10px;
      &--title {
        font-size: 15px;
      }
      &:before {
        padding: 10px 5px;
        font-size: 14px;
        width: 107px;
      }
    }
    &__global {
      &-item {
        flex: 0 1 100%;
      }
    }
  }
}

.page {
  padding: 100px 0 30px;
  table {
    border-top: 1px solid $colour_dark_grey;
    border-left: 1px solid $colour_dark_grey;
    border-collapse: collapse;
    tr {
      display: flex;
      th,
      td {
        flex: 1 1 100%;
      }
    }
    th,
    td {
      padding: 10px;
      border: 1px solid $colour_dark_grey;
      border-left: none;
      border-top: none;
    }
  }
}

.data-dashboard {
  &.loading {
    .data-dashboard {
      &__wrapper {
        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: $colour_secondary;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  &__group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    .data-block {
      flex: 0 1 25%;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    position: relative;
    &--chart {
      margin: 0 0 25px;
    }
  }
  &__intro {
    margin: 25px 0;
    border-radius: 10px;
    color: $colour_dark_grey;
    background: #fff;
    padding: 20px;
    box-shadow: $box_shadow;
    .data-block {
      &__inner {
        background: $colour_primary;
        box-shadow: $box_shadow;
      }
    }
  }
  &__title {
    margin-top: 0;
  }
  @include in_size($mobile) {
    &__group {
      margin: 0 -10px;
    }
    &__intro {
      .data-block {
        padding: 10px;
        flex: 0 1 50%;
      }
    }
  }
  @include in_size($xxs) {
    &__intro {
      .data-block {
        flex: 0 1 100%;
      }
    }
  }
}

.data-block {
  padding: 0 20px;
  flex: 0 1 20%;
  &--template {
    display: none !important;
  }
  &__inner {
    padding: 20px;
    background: $colour_secondary;
    text-align: center;
    border-radius: 10px;
    height: 100%;
  }
  &__title {
    font-size: 20px;
    color: $colour_dark_grey;
    margin: 0 0 15px;
  }
  &__value {
    color: $colour_accent;
    font-weight: 600;
    font-size: 35px;
    margin: 0;
  }
}

.data-chart {
  width: 100%;
  margin: 25px 0;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: $box_shadow;
  &--template,
  &.hidden {
    display: none;
  }
  @include in_size($mobile) {
    padding: 15px;
  }
}
