@import "fonts.scss";

body {
  color: $colour_dark_grey;
  background: $colour_primary;
  font-family: $font_primary;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: $colour_accent;
}

.header {
  padding: 20px 0;
  background: $colour_secondary;
  display: block;
  box-shadow: $box_shadow;
  h1 {
    margin: 0;
    a {
      color: $colour_accent;
      &:hover {
        color: $colour_accent_light;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    &-link {
      font-size: 19px;
      color: $colour_dark_grey;
      &:hover {
        color: $colour_accent;
      }
    }
  }
}

.content-wrapper {
  display: block;
}
.footer {
  padding: 20px 50px;
  background: $colour_secondary;
  display: block;
  color: $colour_dark_grey;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.social-share {
  display: flex;
  align-items: center;
}

.button {
  background: $colour_accent;
  color: #fff;
  padding: 5px 15px;
  display: inline-block;
  text-align: center;
  transition: background 0.2s ease-in-out 0s;
  &:hover {
    background: darken($colour_accent, 10%);
  }
}
