@import "fonts.scss";

body {
  color: $colour_dark_grey;
  background: $colour_primary;
  font-family: $font_primary;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: $colour_accent;
}

.header {
  padding: 20px 0;
  background: $colour_secondary;
  display: block;
  box-shadow: 0 3px 6px 0 rgba(#000, 0.16);
  a {
    color: $colour_accent;
  }
}

.footer {
  padding: 20px;
  background: $colour_secondary;
  display: block;
  color: #fff;
}

.button {
  background: $colour_accent;
  color: #fff;
  padding: 5px 15px;
  display: inline-block;
  &:hover {
    background: darken($colour_accent, 10%);
  }
}

.data-table {
  width: 100%;
  margin: 25px 0;
  color: #fff;
  border-spacing: 0 5px;
  &__row {
    background: $colour_secondary;
    &:nth-child(odd) {
      background: lighten($colour_secondary, 2%);
    }
    &--template {
      display: none;
    }
  }
  &__column,
  &__header {
    padding: 10px 25px;
    text-align: left;
    &--numeric,
    &--button {
      text-align: right;
    }
  }
}

.page {
  padding: 100px 0 30px;
  table {
    border-top: 1px solid $colour_dark_grey;
    border-left: 1px solid $colour_dark_grey;
    border-collapse: collapse;
    tr {
      display: flex;
      th,
      td {
        flex: 1 1 100%;
      }
    }
    th,
    td {
      padding: 10px;
      border: 1px solid $colour_dark_grey;
      border-left: none;
      border-top: none;
    }
  }
}

.data-dashboard {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  &__intro {
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
    background: $colour_secondary;
    padding: 10px;
  }
}

.data-block {
  padding: 20px;
  flex: 0 1 20%;
  &--template {
    display: none;
  }
  &__inner {
    padding: 20px;
    background: $colour_secondary;
    text-align: center;
    border-radius: 10px;
    height: 100%;
  }
  &__title {
    font-size: 20px;
    color: #fff;
  }
  &__value {
    color: $colour_accent;
    font-weight: 600;
    font-size: 35px;
  }
}
