.device-strip {
  padding: 100px 0;
  background: $colour_light_grey;
  text-align: center;
  .row {
    justify-content: center;
  }
  img {
    max-width: 100%;
  }
  p + p{
    margin-top: 45px;
  }
  &__text {
    h2 {
      font-size: 45px;
      line-height: 1;
      margin: 0 0 10px;
      padding-bottom: 30px;
      border-bottom: 3px solid $colour_primary;
      display: inline-block;
    }
  }
  @include in_size($mobile) {
    padding: 40px 0;
  }
}
