.features-strip {
  text-align: center;
  padding: 40px 0;
  background: $colour_primary;
  color: #fff;
  &__title {
    font-size: 35px;
    line-height: 1;
    margin: 0 0 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #fff;
    display: inline-block;
  }
  &__feature {
    &-image {
      display: inline-block;
    }
    &-text {
      font-weight: 600;
    }
  }
}
picture,
img {
  max-width: 100%;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-arrow {
  position: absolute;
  bottom: 17px;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    color: $colour_light_grey;
  }
  &.slick-next {
    left: 50%;
    margin-left: 100px;
  }
  &.slick-prev {
    right: 50%;
    margin-right: 100px;
  }
}
.slick-dots {
  list-style: none;
  display: inline-flex;
  padding: 0;
  li {
    button {
      display: inline-block;
      background: #fff;
      border: #fff;
      border-radius: 50%;
      text-indent: -9999px;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      cursor: pointer;
    }
    &.slick-active {
      button {
        background: $colour_secondary;
      }
    }
  }
}
