.form {
  margin-top: 25px;
  fieldset {
    padding: 0;
    margin: 0;
    border: none;
    min-width: 0;
  }
  &__field-wrapper {
    display: flex;
  }
  &__submit {
    align-self: flex-end;
    border: none;
    font-family: $font_primary;
    background: $colour_secondary;
    padding: 10px 40px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
      background: #fff;
      color: $colour_secondary;
    }
  }
  @include in_size($xs) {
    &__field-wrapper {
      flex-wrap: wrap;
    }
    &__submit {
      margin: 10px 0 0;
      flex: 1 0 100%;
    }
  }
}

.field {
  flex: 1 1 auto;
  &__label {
    display: block;
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1;
  }
  &__input {
    border: none;
    padding: 10px;
    font-family: $font_primary;
    font-size: 16px;
    line-height: 25px;
    width: 100%;
  }
}
