html.webp {
  .home-strip {
    background-image: url("/images/family.webp");
  }
}

html.no-webp {
  .home-strip {
    background-image: url("/images/family.jpg");
  }
}

.home-strip {
  padding: 200px 0;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .row {
    align-items: flex-start;
  }
  &__title {
    padding-right: 50px;
    border-right: 3px solid $colour_primary;
    h2 {
      font-size: 60px;
      line-height: 1;
      margin: 0;
    }
  }
  &__text {
    padding-left: 50px;
    p {
      font-size: 20px;
      font-weight: 500;
      margin: 0 0 25px;
    }
  }
  @include in_size($xs) {
    padding: 40px 15px;
    &__title {
      padding-bottom: 20px;
      border-right: none;
      border-bottom: 3px solid $colour_primary;
      padding-left: 0;
      margin-bottom: 20px;
      h2 {
        font-size: 40px;
      }
    }
    &__text {
      padding: 0;
    }
  }
}
