.thankyou {
  background: $colour_primary;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
    &-inner {
      @include in_size($md) {
        max-width: 50%;
        margin: 0 auto;
      }
    }
  }
  &__title {
    font-size: 45px;
    border-bottom: 3px solid #fff;
    margin: 0 0 35px;
    padding-bottom: 35px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    @include in_size($xxs) {
      flex-wrap: wrap;
    }
  }
  &__content {
    margin: 0;
    padding-right: 50px;
    font-size: 20px;
    @include in_size($xxs) {
      padding-right: 0;
      padding-bottom: 20px;
    }
  }
  &__social {
    color: #fff;
    font-size: 30px;
  }
}
