<!DOCTYPE html>
<html lang="en-gb">
{%-include head.html -%}

<body>
    {%- include header.html -%}
    <div class="content-wrapper">
        <div class="container">
            {%- include country_history.html -%}
        </div>
    </div>
    {%- include footer.html -%}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {%- include foot.html layout="country_history" -%}
    <script>
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(chartInit);
        function chartInit() {
            handleCountryHistoryData("{{page.name | replace: '-history.html', ''}}", "{{page.title}}");
        }
    </script>
</body>

</html>